.valee{
  background-color: #22d8c0 ;
  text-align: center;
  width: 20%;
  padding: 10px;
  margin: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 20px;
  box-shadow: rgba(46, 46, 170, 0.4) 0px 5px, rgba(46, 46, 170, 0.3) 0px 10px, rgba(46, 46, 170, 0.2) 0px 15px, rgba(46, 46, 170, 0.1) 0px 20px, rgba(46, 46, 170, 0.05) 0px 25px;
}

.test{
  margin-bottom: 15px;
      border-radius: 50%;
      transition: 1s;
      box-shadow: 2px 2px;
      overflow: hidden;
}
.test:hover {
  transform: scale(1.2, 1.2);
  transition: 1s;
  box-shadow: 5px 5px 5px 5px;
}
.eventt{
  margin-bottom: 15px;
  border-radius: 50%;
  transition: 1s;
  box-shadow: 2px 2px;
  overflow: hidden;
}
.eventt:hover {
  transform: scale(1.2, 1.2);
  transition: 1s;
  box-shadow: 5px 5px 5px 5px;
}
.eventw{
  margin-bottom: 15px;
  border-radius: 200px;
  transition: 1s;
  box-shadow: 2px 2px;
  overflow: hidden;
}
.eventw:hover {
  transform: scale(1.2, 1.2);
  transition: 1s;
  box-shadow: 5px 5px 5px 5px;
}
.evento{
  margin-bottom: 15px;
  border-radius: 50%;
  transition: 1s;
  box-shadow: 2px 2px;
  overflow: hidden;
}
.evento:hover {
  transform: scale(1.2, 1.2);
  transition: 1s;
  box-shadow: 5px 5px 5px 5px;
}
.imgf{
  width: 50%;
  border-radius: 100%;
  transition: 1s;
  overflow: hidden;
  transition: 0.5s;
}
.imgf:hover{
  filter:drop-shadow(16px 16px 20px red) invert(75%);
  transition: 1s;
}
.imgs{
  width: 25%;
  border-radius: 200px;
  transition: 1s;
  overflow: hidden;
  transition: 0.5s;
}
.imgs:hover{
  filter:drop-shadow(16px 16px 20px red) invert(75%);
  transition: 1s;
}
.headerman{
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.541);
  padding-bottom: 1px;
}

.headerman ul span .listf{
    text-decoration: none;
    padding: 3px;
    color: white;
    background-color: rgb(83, 71, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    transition: 0.5s;
    margin: 10px;
}
.headerman ul span .listf:hover{
  background-color: rgb(56, 38, 158);
  transition: 0.5s;
}
.headerman ul span .lists{
  text-decoration: none;
  padding: 3px;
  color: white;
  background-color: tomato;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  transition: 0.5s;
}
.headerman ul span .lists:hover{
background-color: rgb(158, 56, 38);
transition: 0.5s;
}

body {
	background: linear-gradient(-45deg, #db9dff, #8594ec, #78dbff, #63d6bb);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
  font-family: 'Taviraj', serif;
    font-size: 16px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.profile{
  background-color: #22d8c0 ;
  text-align: center;
  width: 30%;
  padding: 10px;
  margin: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: rgba(46, 46, 170, 0.4) 0px 5px, rgba(46, 46, 170, 0.3) 0px 10px, rgba(46, 46, 170, 0.2) 0px 15px, rgba(46, 46, 170, 0.1) 0px 20px, rgba(46, 46, 170, 0.05) 0px 25px;
}
.profile:hover{
  background-color: rgba(255, 187, 0, 0.7);
  color: white;
  transition: 1s;
}


.profile h3.fw-bold {
  margin-bottom: 10px;
}
/*address*/
#A{
  background-color: #22d8c0 ;
  display:inline-block;
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 0);
  transition: 1s;
  box-shadow: rgba(46, 124, 240, 0.4) -5px -5px, rgba(46, 124, 240, 0.3) -10px -10px, rgba(46, 124, 170, 0.2) -15px -15px, rgba(46, 124, 170, 0.1) -20px -20px, rgba(46, 124, 170, 0.05) -25px -25px;
}
#A:hover{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  transition: 1s;
}
/*address*/
/*experience*/
#E {
  background-color: #22d8c0 ;
  display:inline-block;
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px;
  border: 2px solid rgb(0, 0, 0);
  transition: 1s;
  box-shadow: rgba(46, 124, 240, 0.4) 5px -5px, rgba(46, 124, 240, 0.3) -0px -10px, rgba(46, 124, 170, 0.2) 15px -15px, rgba(46, 124, 170, 0.1) 20px -20px, rgba(46, 124, 170, 0.05) 25px -25px;
}
#E:hover{
  background-color: rgb(4, 0, 255,0.70);
  color: white;
  transition: 1s;
}
/*experience*/
/*skill*/
#S{
  background-color: #22d8c0 ;
  display:inline-block;
  padding: 5px;
  margin: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  transition: 1s;
  box-shadow: rgba(46, 124, 240, 0.4) -5px 5px, rgba(46, 124, 240, 0.3) -10px 10px, rgba(46, 124, 170, 0.2) -15px 15px, rgba(46, 124, 170, 0.1) -20px 20px, rgba(46, 124, 170, 0.05) -25px 25px;
}
#S:hover{
  background-color: rgba(255, 0, 0, 0.70);
  color: white;
  transition: 1s;
}
/*skill*/
/*education*/
#Ed{
  background-color: #22d8c0 ;
  display:inline-block;
  padding: 5px;
  margin: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  transition: 1s;
  box-shadow: rgba(46, 124, 240, 0.4) 5px 5px, rgba(46, 124, 240, 0.3) -0px 10px, rgba(46, 124, 170, 0.2) 15px 15px, rgba(46, 124, 170, 0.1) 20px 20px, rgba(46, 124, 170, 0.05) 25px 25px;
}
#Ed:hover{
  background-color: rgba(12, 139, 0, 0.7);
  color: white;
  transition: 1s;
}
/*education*/
/*head*/
#H{
  text-shadow: 2px 2px black;
}
#H hr {
  width: 20%;
  display: block;
  margin: auto;
  color: rgb(0, 47, 255);
  margin-bottom: 5px;
}
/*head*/

/*eventhead*/
#Eh .row .forget{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ff0000;
  transition: 1s;
}
#Eh .row .forget:hover{
  text-decoration: underline;
  text-shadow: 1px 1px 1px #00ff2a;
  font-size: 18px;
  transition: 1s;
}
/*eventhead*/
/*scroll*/
.scrollToTopBtn {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all .5s ease;
}
/*footer*/
footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px
}
/*footer*/
/*showicon*/
.showBtn {
  opacity: 1;
  transform: translateY(0);
}
/*showicon*/
/*scroll*/
